<img width=200 height=250 align=center src="logouniversidad.png">
 
<h3 align="center">                                              Bases de Datos II</h3> 

Alumnos:
* Oscar Rene Soto Sánchez 
* Juan Carlos Rojas Coffey 
* Jesús Armando Báez Camacho

# Ventas Internacionales en Sonora (2021)

<p style="text-align: justify;"> Este proyecto busca contrastar el tipo de ventas y comercio realizado en el Estado de Sonora durante el año pasado, justo despues de salir de una pandemia que duro 2 años, y contrastar los datos de las ventas con los estados del pais con economias mas fuertes. </p>

La base de datos utilizada la encontramos en datamexico.org.

Se pretenden utilizar 4 tablas de datos diferentes, de 4 estados de la republica que representan las ventas internacionales realizadas en el periodo de 2021. 

* Sonora:https://datamexico.org/es/profile/geo/sonora-so
* Nuevo Leon: https://datamexico.org/es/profile/geo/nuevo-leon-nl
* Ciudad de Mexico: https://datamexico.org/es/profile/geo/ciudad-de-mexico-cx
* Jalisco:https://datamexico.org/es/profile/geo/jalisco-jc

De las 4 tablas construimos una sola, para metodos practicos, con la ayuda de la herramienta VizBuilder que ofrece la pagina de DataMexico.

* Fuente: https://datamexico.org/es/vizbuilder

In [53]:
import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="productosinternacionales"
)

query = "SELECT * FROM productos2021csv;"
result_dataFrame = pd.read_sql(query,mydb)
df

,Flow ID,Flow,HS4 4 Digit ID,HS4 4 Digit,Date Year,State ID,State,Chapter 4 Digit ID,Chapter 4 Digit,Trade Value
0,2,Exports,10101,"Horses, Asses, Mules and Hinnies",2021,26,Sonora,1,Animal Products,85204
1,2,Exports,10102,Live Animals of the Bovine Species,2021,9,Ciudad de México,1,Animal Products,2858060
2,2,Exports,10102,Live Animals of the Bovine Species,2021,14,Jalisco,1,Animal Products,412094
3,2,Exports,10102,Live Animals of the Bovine Species,2021,19,Nuevo León,1,Animal Products,6916241
4,2,Exports,10102,Live Animals of the Bovine Species,2021,26,Sonora,1,Animal Products,87167022
...,...,...,...,...,...,...,...,...,...,...
2628,2,Exports,219701,"Paintings and Drawings, Executed Entirely by H...",2021,14,Jalisco,21,Arts and Antiques,320528
2629,2,Exports,219701,"Paintings and Drawings, Executed Entirely by H...",2021,19,Nuevo León,21,Arts and Antiques,65148
2630,2,Exports,219702,"Engravings, Prints and Lithographs",2021,9,Ciudad de México,21,Arts and Antiques,15761
2631,2,Exports,219702,"Engravings, Prints and Lithographs",2021,14,Jalisco,21,Arts and Antiques,19016
2632,2,Exports,219703,"Original Sculptures and Statuary, in any Material",2021,14,Jalisco,21,Arts and Antiques,191286

# Nombres, tipo y descripcion de cada variable de la tabla usada.

El *tipo* esta en cursiva, y el **nombre de la variable** en negritas. Estos atributos son los utilizados en la elaboracion de nuestras consultas.

* *INT* **Flow ID**: Este parametro define que tipo de flujo se realizó. Sus valores son 1 o 2.
* *STRING* **Flow**: Es el termino concreto del flujo, importacion o exportacion. Coindicen con los valores Flow ID respectivamente.
* *INT* **HS4 4 Digit ID**: Este parametro define, según el nivel del producto, a que area pertenece cada producto, usan 4 digitos. 
* *STRING* **HS4 4 Digit**: Es un parametro que detalla en mayor medida lo que el parametro chapter.
* *DATE* **Date Year**: Es el año en el cual se hizo la transaccion.
* *INT* **State ID**: Es el numero asignado a cada estado, numeros alfabeticamente, incluyendo la Ciudad de Mexico.
* *STRING* **State**: Es el nombre del estado como texto.
* *INT* **Chapter 4 Digit ID**: Este parametro define que tipo de producto se comercializa, adquiere valores del 1 al 21.
* *STRING* **Chapter 4 Digit**: Es el tipo de producto que se comercializa, según el nivel del producto. 
* *INT* **Trade Value**: El valor neto en dolares generado por la transaccion.

A continuacion esta es una simulacion del segmento de la tabla del Diagrama Entidad-Relacion generado al final de la consulta, es a partir de tomar el query de las ventas tipo internacional/exportacion la cual pertenece a un gran conjunto de una tabla mas grande que manejan en datamexico. Por lo que pueden faltar algun tipo de dependencias. Al final del documento se anexara el Glosario de terminos, que es parte de la documentacion de la base de datos original, para que se observe su magnitud.

<img width=680 height=540 align=center src="DiagramaER.png">

Este diagrama de aqui, es la tabla que nosotros utilizamos en el proyecto, y es la tabla que se genero al final de la consulta realizada en la herramienta VizBuilder de datamexico.
<img align=left src="Diagrama.png">

In [44]:
df.columns

Index(['Flow ID', 'Flow', 'HS4 4 Digit ID', 'HS4 4 Digit', 'Date Year',
       'State ID', 'State', 'Chapter 4 Digit ID', 'Chapter 4 Digit',
       'Trade Value'],
      dtype='object')

# Consultas
### Funcion en Python usando QUERYS de MySQL

#### Ejemplo 1
En la siguiente función obtendremos la ganancia total dependiendo del tipo de producto comercializado segun el estado, adjunto con un ejemplo:

In [16]:
def GanaciasTotalesPorProducto(Estado, Producto):
    query = "SELECT SUM(`Trade Value`) AS Ganancias FROM productos2021csv WHERE (`Chapter 4 Digit` = '" + Producto + "') AND (State = '"+ Estado +"');"
    dfq = pd.read_sql(query,mydb)
    print(dfq)

In [17]:
GanaciasTotalesPorProducto("Sonora", "Animal Products");
GanaciasTotalesPorProducto("Ciudad de México", "Animal Products");
GanaciasTotalesPorProducto("Nuevo León", "Animal Products");
GanaciasTotalesPorProducto("Jalisco", "Animal Products");

     Ganancias
0  774293916.0
    Ganancias
0  83043312.0
     Ganancias
0  136640814.0
    Ganancias
0  84725204.0

In [18]:
GanaciasTotalesPorProducto("Sonora", "Machines");
GanaciasTotalesPorProducto("Ciudad de México", "Machines");
GanaciasTotalesPorProducto("Nuevo León", "Machines");
GanaciasTotalesPorProducto("Jalisco", "Machines");

      Ganancias
0  5.097992e+09
      Ganancias
0  1.339697e+10
      Ganancias
0  2.104046e+10
      Ganancias
0  1.074169e+10

En este ejemplo, con el producto animal, podemos darnos cuenta que nuestro estado de Sonora es uno de los principales generadores y se podria decir que es un estado agricola, ya que los numeros derivados a este tipo de productos son mucho mas elevados. Pero si nos movemos a algo mas industrial, como el apartado de "Machines" o maquinaria, en español, podemos observar como los numeros no nos dan para nada la razon, y nos quedamos bastante cortos a comparacion de los estados fuertes del pais, por un gran margen.

#### Ejemplo 2
En este ejemplo filtramos el valor maximo obtenido por las ventas de cada Estado.

In [13]:
def GananciasTotalesPorEstado(Estado):
    query = "SELECT SUM(`Trade Value`) AS Ganancia FROM productos2021csv WHERE (State = '"+ Estado +"');"
    dfq = pd.read_sql(query,mydb)
    print(dfq)

In [14]:
GananciasTotalesPorEstado('Nuevo León');
GananciasTotalesPorEstado('Ciudad de México');
GananciasTotalesPorEstado('Jalisco');
GananciasTotalesPorEstado('Sonora');

       Ganancia
0  4.703501e+10
       Ganancia
0  4.204961e+10
       Ganancia
0  2.528414e+10
       Ganancia
0  1.309532e+10

En este ejemplo, podemos ver que las ventas de los estados con mas PIB del Pais, son bastante mas superiores a las de Sonora, el cual no es un estado economicamente muy fuerte, pero igualmente aportamos una gran cantidad de dinero en exportaciones, en especial a los Estados Unidos.

#### Ejemplo 3 y 4
En este ejemplo, se da como valor el Estado que se quiere buscar, y te regresa el producto exportado de mayor valor y a que area pertenece. 

Encontramos una anomalia en los datos. Para el valor maximo de Jalisco, Ciudad de México y Nuevo León, el tipo de dato no alcanza para la cifra que se espera de los datos de la Secretaria de Comercio.

Tambien se puede cambiar la funcion SELECT MAX del QUERY por un SELECT MIN, y se pueden visualizar los diferentes tipos de datos de la misma manera.

In [11]:
def GananciaMaximaPorProducto(Estado):
    query = "SELECT `HS4 4 Digit`, `Trade Value`,`Chapter 4 Digit` FROM productos2021csv WHERE (`Trade Value` = (SELECT MAX(`Trade Value`) FROM productos2021csv WHERE State = '"+ Estado +"'));"
    dfq = pd.read_sql(query,mydb)
    print(dfq)

In [12]:
GananciaMaximaPorProducto('Sonora')
GananciaMaximaPorProducto('Jalisco')
GananciaMaximaPorProducto('Nuevo León')
GananciaMaximaPorProducto('Ciudad de México')

                   HS4 4 Digit  Trade Value Chapter 4 Digit
0  Electrical Wires and Cables   1547839483        Machines
                                          HS4 4 Digit  Trade Value  \
0                         Other Fruit and Nuts, Fresh   2147483647
1   Undenatured Ethyl Alcohol Alcohol Content Volu...   2147483647
2            Oils of Petroleum or Bituminous Minerals   2147483647
3   Piston Engines, Rotary Engines or Reciprocatin...   2147483647
4                      Machinery for Air Conditioning   2147483647
5   Refrigerators, Freezers and other Refrigeratin...   2147483647
6   Data Processing Machines and Data Processing U...   2147483647
7   Data Processing Machines and Data Processing U...   2147483647
8   Telephones, Including Mobile Phones and those ...   2147483647
9   Telephones, Including Mobile Phones and those ...   2147483647
10                        Electrical Wires and Cables   2147483647
11     Tractors (Other than Tractors of Heading 8709)   2147483647
12  Motor Cars and other Vehicles Principally Desi...   2147483647
13  Motor Cars and other Vehicles Principally Desi...   2147483647
14  Motor Cars and other Vehicles Principally Desi...   2147483647
15          Motor Vehicles for the Transport of Goods   2147483647
16            Parts and Accessories of Motor Vehicles   2147483647
17            Parts and Accessories of Motor Vehicles   2147483647

       Chapter 4 Digit
0   Vegetable Products
1           Foodstuffs
2     Mineral Products
3             Machines
4             Machines
5             Machines
6             Machines
7             Machines
8             Machines
9             Machines
10            Machines
11      Transportation
12      Transportation
13      Transportation
14      Transportation
15      Transportation
16      Transportation
17      Transportation
                                          HS4 4 Digit  Trade Value  \
0                         Other Fruit and Nuts, Fresh   2147483647
1   Undenatured Ethyl Alcohol Alcohol Content Volu...   2147483647
2            Oils of Petroleum or Bituminous Minerals   2147483647
3   Piston Engines, Rotary Engines or Reciprocatin...   2147483647
4                      Machinery for Air Conditioning   2147483647
5   Refrigerators, Freezers and other Refrigeratin...   2147483647
6   Data Processing Machines and Data Processing U...   2147483647
7   Data Processing Machines and Data Processing U...   2147483647
8   Telephones, Including Mobile Phones and those ...   2147483647
9   Telephones, Including Mobile Phones and those ...   2147483647
10                        Electrical Wires and Cables   2147483647
11     Tractors (Other than Tractors of Heading 8709)   2147483647
12  Motor Cars and other Vehicles Principally Desi...   2147483647
13  Motor Cars and other Vehicles Principally Desi...   2147483647
14  Motor Cars and other Vehicles Principally Desi...   2147483647
15          Motor Vehicles for the Transport of Goods   2147483647
16            Parts and Accessories of Motor Vehicles   2147483647
17            Parts and Accessories of Motor Vehicles   2147483647

       Chapter 4 Digit
0   Vegetable Products
1           Foodstuffs
2     Mineral Products
3             Machines
4             Machines
5             Machines
6             Machines
7             Machines
8             Machines
9             Machines
10            Machines
11      Transportation
12      Transportation
13      Transportation
14      Transportation
15      Transportation
16      Transportation
17      Transportation
                                          HS4 4 Digit  Trade Value  \
0                         Other Fruit and Nuts, Fresh   2147483647
1   Undenatured Ethyl Alcohol Alcohol Content Volu...   2147483647
2            Oils of Petroleum or Bituminous Minerals   2147483647
3   Piston Engines, Rotary Engines or Reciprocatin...   2147483647
4                      Machinery for Air Conditioning   2147483647
5   Refrigerators, Freezers and other Refrigeratin...   2147483647
6   Data Processing Machines and Data Processing U...   2147483647
7   Data Processing Machines and Data Processing U...   2147483647
8   Telephones, Including Mobile Phones and those ...   2147483647
9   Telephones, Including Mobile Phones and those ...   2147483647
10                        Electrical Wires and Cables   2147483647
11     Tractors (Other than Tractors of Heading 8709)   2147483647
12  Motor Cars and other Vehicles Principally Desi...   2147483647
13  Motor Cars and other Vehicles Principally Desi...   2147483647
14  Motor Cars and other Vehicles Principally Desi...   2147483647
15          Motor Vehicles for the Transport of Goods   2147483647
16            Parts and Accessories of Motor Vehicles   2147483647
17            Parts and Accessories of Motor Vehicles   2147483647

       Chapter 4 Digit
0   Vegetable Products
1           Foodstuffs
2     Mineral Products
3             Machines
4             Machines
5             Machines
6             Machines
7             Machines
8             Machines
9             Machines
10            Machines
11      Transportation
12      Transportation
13      Transportation
14      Transportation
15      Transportation
16      Transportation
17      Transportation

En el ejemplo 3, podemos observar que el tipo de dato INT no alcanza para visualizar los montos totales obtenidos por los estados de Ciudad De Mexico, Nuevo Leon y Jalisco, por lo tanto se repite multiples veces una misma cantidad, en cambio Sonora no es asi, la ganancia es muy alta por la venta de cables electricos. Aqui nos podemos dar cuenta que el tipo de ventas que realizan al extranjero estos estados, es mucho mas alta que cualquiera que pueda realizar Sonora, quizas aun no rompamos la barrera del INT, pero pronto estaremos ahi.

In [8]:
def GananciaMinimaPorProducto(Estado):
    query = "SELECT `HS4 4 Digit`, `Trade Value`,`Chapter 4 Digit` FROM productos2021csv WHERE (`Trade Value` = (SELECT MIN(`Trade Value`) FROM productos2021csv WHERE State = '"+ Estado +"'));"
    dfq = pd.read_sql(query,mydb)
    print(dfq)

In [9]:
GananciaMinimaPorProducto('Jalisco')
GananciaMinimaPorProducto('Sonora')
GananciaMinimaPorProducto('Nuevo León')
GananciaMinimaPorProducto('Ciudad de México')

                                         HS4 4 Digit  Trade Value  \
0  Time Control Devices and Timers, with Clockwor...          299

  Chapter 4 Digit
0     Instruments
                            HS4 4 Digit  Trade Value  Chapter 4 Digit
0  Waste and Scrap of Glass; Mass Glass           91  Stone and Glass
                                         HS4 4 Digit  Trade Value  \
0  Aniseed, Badiana, Fennel, Coriander, Cumin or ...          373

      Chapter 4 Digit
0  Vegetable Products
                                         HS4 4 Digit  Trade Value  \
0  Aniseed, Badiana, Fennel, Coriander, Cumin or ...           30

      Chapter 4 Digit
0  Vegetable Products

En el ejemplo 4, podemos observar que los estados de Monterrey y Ciudad de Mexico, exportan incluso pequeños paquetes como flores aromaticas y productos naturales, mientras que el estado de Jalisco, es el que por lo menos busca algo mas de ganancia, exportando cosas como relojes y sus derivados.

#### Ejemplo 5
Calculamos la ganancia promedio por Estado y Producto.

In [89]:
def GanaciasPromedioPorProducto(Estado, Producto):
    query = "SELECT AVG(`Trade Value`) AS GananciasPromedio FROM productos2021csv WHERE (`Chapter 4 Digit` = '" + Producto + "') AND (State = '"+ Estado +"');"
    dfq = pd.read_sql(query,mydb)
    print(dfq)

In [6]:
GanaciasPromedioPorProducto('Ciudad de México', 'Mineral Products')
GanaciasPromedioPorProducto('Sonora', 'Mineral Products')
GanaciasPromedioPorProducto('Nuevo León', 'Mineral Products')
GanaciasPromedioPorProducto('Jalisco', 'Mineral Products')

   GananciasPromedio
0        156653915.5
   GananciasPromedio
0       1.461509e+08
   GananciasPromedio
0       1.087070e+07
   GananciasPromedio
0       2.970813e+06

Si hablamos de la exportacion de recursos minerales, el estado de Sonora es el que lleva la delantera por mas margen, siendo uno de los estados del pais con mayor indice de ventas internacionales de este tipo de productos. Y siendo la Ciudad de Mexico el lugar donde menos se venden este tipo de productos, dado que no existen grandes empresas que se dediquen a ese tipo de comercio.

# Referencias
* Base de Datos: https://datamexico.org/
* Link de Medium: https://medium.com/@baeznation/ventas-internacionales-en-sonora-2021-bases-de-datos-ii-a2305fd56ab6
* Diccionario de datos: https://github.com/jeiize/Libreta-BDDII/blob/main/dmx-diccionario-de-datos.xlsx